<%= form_with(model: vaccination, class: "contents") do |form| %>
  <% if vaccination.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(vaccination.errors.count, "error") %> prohibited this vaccination from being saved:</h2>

      <ul class="list-disc ml-6">
        <% vaccination.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :animal_id %>
    <%= form.text_field :animal_id, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": vaccination.errors[:animal_id].none?, "border-red-400 focus:outline-red-600": vaccination.errors[:animal_id].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :vaccine_name %>
    <%= form.text_field :vaccine_name, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": vaccination.errors[:vaccine_name].none?, "border-red-400 focus:outline-red-600": vaccination.errors[:vaccine_name].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :vaccine_brand %>
    <%= form.text_field :vaccine_brand, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": vaccination.errors[:vaccine_brand].none?, "border-red-400 focus:outline-red-600": vaccination.errors[:vaccine_brand].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :application_date %>
    <%= form.date_field :application_date, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": vaccination.errors[:application_date].none?, "border-red-400 focus:outline-red-600": vaccination.errors[:application_date].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :next_dose_date %>
    <%= form.date_field :next_dose_date, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": vaccination.errors[:next_dose_date].none?, "border-red-400 focus:outline-red-600": vaccination.errors[:next_dose_date].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :veterinarian_name %>
    <%= form.text_field :veterinarian_name, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": vaccination.errors[:veterinarian_name].none?, "border-red-400 focus:outline-red-600": vaccination.errors[:veterinarian_name].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :batch_number %>
    <%= form.text_field :batch_number, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": vaccination.errors[:batch_number].none?, "border-red-400 focus:outline-red-600": vaccination.errors[:batch_number].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :observations %>
    <%= form.textarea :observations, rows: 4, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": vaccination.errors[:observations].none?, "border-red-400 focus:outline-red-600": vaccination.errors[:observations].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": vaccination.errors[:user_id].none?, "border-red-400 focus:outline-red-600": vaccination.errors[:user_id].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :company_id %>
    <%= form.text_field :company_id, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": vaccination.errors[:company_id].none?, "border-red-400 focus:outline-red-600": vaccination.errors[:company_id].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
