<div id="<%= dom_id vaccination %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Animal:</strong>
    <%= vaccination.animal_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Vaccine name:</strong>
    <%= vaccination.vaccine_name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Vaccine brand:</strong>
    <%= vaccination.vaccine_brand %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Application date:</strong>
    <%= vaccination.application_date %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Next dose date:</strong>
    <%= vaccination.next_dose_date %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Veterinarian name:</strong>
    <%= vaccination.veterinarian_name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Batch number:</strong>
    <%= vaccination.batch_number %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Observations:</strong>
    <%= vaccination.observations %>
  </div>
  <div>
    <strong class="block font-medium mb-1">User:</strong>
    <%= vaccination.user_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Company:</strong>
    <%= vaccination.company_id %>
  </div>
</div>
