<div id="<%= dom_id owner %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= owner.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Email:</strong>
    <%= owner.email %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Phone:</strong>
    <%= owner.phone %>
  </div>
  <div>
    <strong class="block font-medium mb-1">User:</strong>
    <%= owner.user_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Company:</strong>
    <%= owner.company_id %>
  </div>
</div>
