<div id="<%= dom_id animal %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= animal.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Species:</strong>
    <%= animal.species %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Breed:</strong>
    <%= animal.breed %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Birth date:</strong>
    <%= animal.birth_date %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Weight:</strong>
    <%= animal.weight %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Color:</strong>
    <%= animal.color %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Microchip:</strong>
    <%= animal.microchip %>
  </div>
  <div>
    <strong class="block font-medium mb-1">User:</strong>
    <%= animal.user_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Company:</strong>
    <%= animal.company_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Owner name:</strong>
    <%= animal.owner_name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Owner phone:</strong>
    <%= animal.owner_phone %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Owner email:</strong>
    <%= animal.owner_email %>
  </div>
</div>
